*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body {
    width: 100%;
    height:100px;
    background-color: aquamarine;
}
.header {
    width:95%;
    height:30px;
    display: flex;
    background-color: rgb(230, 221, 210);
    font-style: oblique;
    margin: 10px;
    font-family: sans-serif;
}
.name {
    font-size: 15px;
    padding-left: 40px;
    padding-top: 5px;
    color: rgb(139, 136, 132);
    justify-content:space-between;
    position:fixed;
}
.main {
    height:500px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.text {
    background-color: beige;
    display: flex;
    lighting-color: rgb(161, 130, 82);
    list-style: square;
   font-style: inherit;
   font-size: medium;
   padding: 15px;
   margin: 15px;
   
}
.btnn {
text-decoration: none;
text-align: none;
border-color: aqua;

    }
    .btnn:hover {
        background-color:red;
    border-style: groove;
    border-color: brown;
    transform:translateY(-50%);
    }
